.aboutpage-main-top
{
    background-color: rgb(240, 84, 84);
    width: 100%;
    height:600px;
    padding-top: 60px;
    display: flex;
}
.aboutpage-left
{
    flex: 3.5;
}
.aboutpage-middle
{
    flex: 5.5;
    text-align: left;
}
.aboutpage-middle-h2
{
    color: white;
}
.aboutpage-middle-span1
{
    font-size: 23px;
}
.aboutpage-middle-span2
{
    color: white;
    font-weight:700;
    font-size: 20px;
}
.aboutpage-middle-span3
{
    color: white;
    font-size: 18px;
    text-align: justify;
    padding-top: 20px;
}
.aboutpage-right{
    flex: 3;
}
.aboutpage-main-bottom
{
    background-color: rgb(195, 192, 192);
    width: 100%;
    height: 600px;
    display: flex;
    padding: 20px;
}
.aboutpage-main-bottom-left
{
    flex:5;
}
.aboutpage-main-bottom-right
{
    flex:7;
    text-align: justify;
    margin-top: 70px;
    margin-right: 120px;
    font-size: 20px;
}
.aboutpage-main-bottom-right h3{
    color:rgb(240, 84, 84);
    margin-bottom: 15px;
    margin-top: 25px;
}
.aboutpage-main-bottom-right-lastspan
{
    color:rgb(240, 84, 84);
    margin-top: 30px;
}
.aboutpage-right-img
{
   width:400px;
   height: 570px; 
   object-fit: cover;
   margin-top: -50px !important;
   margin-left: -30px;
}
.aboutpage-main-bottom-left-img
{
   width:520px;
   height: 580px; 
   object-fit: cover;
   margin-top: -5px !important;
   margin-left: -60px;
}