.brand-design-main
{
    width: 100%;
}
@media screen and (min-width:1000px) and (max-width:1200px){
    .brand-design-main
{
    width: 100% !important;
}
.brand-div-img{
    margin-left: -102px !important;
    height: 440px !important;
}
.brandhead-left
{
    font-size: 40px !important;
}
.brand-card{
    width: 600px !important;
    margin-left: 2% !important;
}
.brand-card-1{
    width: 320px !important;
}
}
.brandheaddiv
{
    width: 100% !important;
    height: 660px;
    background-color: rgb(185, 183, 183);
    color: black;
    text-align: left;
    /* line-height: 20px !important; */
}
.brandtopspan 
{
    /* position: absolute; */
   padding-top:90px;
}
.brandhead-left
{
    flex:1 !important;
    font-weight: bold;
    /* background-color: aqua; */
    color: black !important;
    font-size: 5rem;
    letter-spacing: -1px;
    line-height: 5.625rem;
    text-decoration: none !important;
    margin-left: 40px;
    margin-top: 100px;
}
.brandhead-left-span2
{
    font-family: Montserrat;
    font-size: 2rem;
    font-weight: 500;
    margin-top: -10px;
    color: rgb(103, 102, 102);

}
.brandhead-left-span3
{
    font-size: 1.125rem;
    font-style: normal;
    margin-top: -50px;

}
.brandbutton
{
    background-color: rgb(250, 19, 96);
    border-color:rgb(250, 19, 96) ;
    padding-top: -90px !important;
    position: absolute;
    align-items: center !important;
    justify-content: center !important;
    line-height:0%;
    font-weight: bold;
    /* text-align: center; */
    /* width: 130px; */
}
.about-right-main-button:hover{
    color:black;
    background-color: rgb(249, 108, 155);
}
.brandhead-right
{
    flex:1;
}
.brand-div-img
{
    margin-left: 90px;
}
.brand-card
{
    margin-top: 220px !important;
    display: flex;
    width: 1150px ;
    margin-left: 11%;
    text-align: left;
    margin-bottom: 60px;
}
.brand-card-1
{
    border:solid 2px rgb(234, 231, 227) !important;
    width: 383px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
    /* height:200px; */
  

}
.brand-card-1-img
{
    width: 380px;
    height: 217px;
    object-fit: cover;
    margin-left: 3px;
    
}
.brand-card-1-div1
{
    background-color: #008369;
    width: 383px;
    color:white;    
    text-align: center;
    padding: 50px;
    padding-bottom: 2px !important;
}
.brand-card-1-div1-logo-div
{
    background-color: black;
    opacity: 0.5;
    width:38px;
    height: 30px;
    margin: 40px;
    margin-left: 1px;
}
.brand4thdiv
{
    background: linear-gradient(90deg, rgba(103, 57, 182, 1) 0%, rgba(0, 127, 251, 1) 100%);
    height:350px;
    width: 100%;
    /* padding-left: 80px; */
}
.brand4thdiv-top
{
    margin-top: 140px !important;
    display: flex;
    width: 1150px !important;
    margin-left: 11% !important;
    text-align: left;
    /* margin-bottom: 60px; */
}
.brand4thdiv-bottom
{
    margin-top: -40px !important;
    display: flex;
    width: 1150px !important;
    margin-left: 11%;
    text-align: left;
    /* margin-bottom: 60px; */
}
.brand4thdivdivs
{
    margin-top: 100px !important;
    flex: 1;
}
.brand4thdivdivs-span
{
    font-family: Montserrat;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.0625rem;
    color: white;
}
.brand4thdivdivs-shape
{
    display: flex;
    width:300px;
    margin-left: 160px !important;

}
.brand4thdivdivs-shape2
{
    height: 1.25rem;
    background-color: rgba(255, 255, 255, .15);
    margin-top: 0.625rem;
    width: 100% !important;
    position: relative;
    border-radius: 50rem;
    /* margin-left: 120px !important; */
}
.brand4thdivdivs-shape1
{
    height: 1.25rem;
    background-color: yellow;
    margin-top: 0.625rem;
    width: 30% !important;
    position: absolute;
    border-radius: 5rem;
    z-index: 1000;
    left: 40px;
    margin-left: 120px;
}
.brand4thdivdivs-shape-span
{
    position: absolute;
    left: 660px !important;
    bottom:190px !important;
    color:white;
    font-weight: bold;
    /* font-size: 0.875rem; */
}
.shape11
{
    left: 720px;
    width:28% !important; 
}
.span11
{
    left: 1340px !important; 
}
.span1
{
    left: 660px !important;  
    bottom:75px !important
}
.span2{
    bottom:75px !important;
    left: 1340px !important; 
}
.shape111
{
    width:30.5% !important;
}
.shape12
{
    width: 29% !important;
}