.newslettermain
{
    /* background-color: rgb(246, 186, 4); */
    width: 100%;
    height: 300px;
    /* display: flex; */
    position: relative;
}
@media screen and (max-width:1440px){
    .newslettermain
    {
        width:1440px !important;
        
    }
}
@media screen and (max-width:440px){
    .newslettermain
    {
        width:1450px !important;
        overflow: hidden !important;
    }
}
.newslettermain-left
{
    position: absolute;
    z-index: 1000;
    left:300px;
    top:70px
}
.newslettermain-right-img
{
    width: 100%;
    height: 300px;
}
.newslettermain-left-span1
{
    font-size: 2.1875rem;
    font-weight: bold;
}
.newslettermain-left-span2
{
    font-size: 0.9rem;
    color: gray;
}
#exampleInputEmail1
{
    height:50px;
    margin-top: 30px;
    margin-left: 40px;
    border-radius: 30px;
    width:350px;
    padding-left: 30px;
}
#exampleInputEmail1:focus
{
    border-color: white;
    border: none !important;
    box-shadow: 0cap;
    position: relative;

}
.newformicon
{
position: absolute;
color: rgb(238, 153, 7);
/* top:115px; */
width: 50px !important;
height: 30px !important;
left: 330px;
top:115px;
}