.newslettermain
{
    /* background-color: rgb(246, 186, 4); */
    width: 100%;
    height: 300px;
    /* display: flex; */
    position: relative;
}
@media screen and (max-width:1440px){
    .newslettermain
    {
        width:1440px !important;
        
    }
}
@media screen and (min-width:1000px) and (max-width:1200px){
    .newslettermain-left{
        left: 200px !important;
    }
    .newslettermain-right-img{
        width: 90% !important;
        margin-left: -155px !important;
    }
}
@media screen and (min-width:700px) and (max-width:800px){
    .newslettermain-left{
        left: 200px !important;
        
    }
    .newslettermain-right-img{
        width: 70% !important;
        margin-left: -450px !important;
    }
}
@media screen and (min-width:400px) and (max-width:500px){
    .newslettermain-left{
        left: 20px !important;
        width: 400px !important;
    }
    .newslettermain-right-img{
        width: 70% !important;
        margin-left: -450px !important;
    }
    .newformicon
    {
        top:165px !important
    }
}
@media screen and (min-width:350px) and (max-width:400px){
    .newslettermain
    {
        height: auto !important;
        /* margin-bottom: 30px !important; */
    }
    .newslettermain-left{
        left: 20px !important;
        width: 350px !important;
        /* height: auto !important; */
    }
    .newslettermain-right-img{
        width: 70% !important;
        margin-left: -450px !important;
        height: 350px !important;
    }
    .newformicon
    {
        top:190px !important;
        left: 280px !important;
    }
    #exampleInputEmail1{
        margin-left: -10px !important;
    }
}
@media screen and (min-width:310px) and (max-width:350px){
    .newslettermain
    {
        height: auto !important;
        /* margin-bottom: 30px !important; */
    }
    .newslettermain-left{
        left: 20px !important;
        width: 280px !important;
    }
    .newslettermain-right-img{
        width: 70% !important;
        margin-left: -450px !important;
        height: 350px !important;
    }
    .newformicon
    {
        top:190px !important;
        left: 240px !important;
    }
    #exampleInputEmail1{
        margin-left: 10px !important;
        WIDTH:280PX !important
    }
}
.newslettermain-left

{
    position: absolute;
    z-index: 1000;
    left:300px;
    top:70px
}
.newslettermain-right-img
{
    width: 100%;
    height: 300px;
}
.newslettermain-left-span1
{
    font-size: 2.1875rem;
    font-weight: bold;
}
.newslettermain-left-span2
{
    font-size: 0.9rem;
    color: gray;
}
#exampleInputEmail1
{
    height:50px;
    margin-top: 30px;
    margin-left: 40px;
    border-radius: 30px;
    width:350px;
    padding-left: 30px;
}
#exampleInputEmail1:focus
{
    border-color: white;
    border: none !important;
    box-shadow: 0cap;
    position: relative;

}
.newformicon
{
position: absolute;
color: rgb(238, 153, 7);
/* top:115px; */
width: 50px !important;
height: 30px !important;
left: 330px;
top:115px;
}