.homemain-maindiv
{
    height: 100vh !important;
    width: 100%;
    overflow: hidden;
    background-color: #fdc90b;
    position: relative;

}
.homemain-topbar-backimg1
{
    width: 530px !important;
    height: 239px;
    transition: none 0s ease 0s;
    text-align: center;
    line-height: 0px;
    border-width: 0px;
    margin: 0px;
    padding: 0px;
    letter-spacing: 0px;
    font-weight: 700;
    font-size: 60px;
    z-index: 1;
    
}
.homemain-topbar-backimg2div
{
    /* position: absolute; */
    /* z-index: 1; */
}
.homemain-topbar-backimg2
{
    width: 1830px;
    position: absolute;
    height: 1009px;
    object-fit: contain;
    transition: none 0s ease 0s;
    text-align: center;
    line-height: 0px;
    border-width: 0px;
    margin-top: 80px;
    padding: 0px;
    letter-spacing: 0px;
    font-weight: 700;
    font-size: 60px; 
    margin-left: -650px !important;
    z-index: o !important;
}
.homemain-topbar-backimg3
{
    z-index: 1000;
    width: 310px;
    height: 319px;
    object-fit: contain;
    transition: none 0s ease 0s;
    text-align: center;
    line-height: 0px;
    border-width: 0px;
    margin-top: 460px;
    padding: 0px;
    letter-spacing: 0px;
    font-weight: 700;
    font-size: 60px; 
    margin-left: -1510px;
    animation: moveTopToBottom 2s ease-in-out infinite alternate;
    /* margin-left: 100px !important; */
}
@keyframes moveTopToBottom {
    0% { margin-top: 460; } /* Start at the top */
    100% { margin-top: 480px; } /* Move to the bottom */
}

.homemain-topbar
{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 2rem 3.125rem 0;
    padding-left: 1rem !important;
    /* display: flex; */
}
.homemain-topbar-left
{
    flex: 1;
    text-align: left;
    position: relative;
}
.homemain-topbar-backimg1
{
    position: absolute;
    top: -20px;
    left: 250px;
    width: 200px !important;
    height: 209px !important;
    object-fit: contain;
    animation: moveLeftToRight 2s ease-in-out infinite alternate;
    /* background-color: #f0f0f0; */
}
@keyframes moveLeftToRight {
    0% { left: 200; }
    100% { left: 270px; }
}
.homemain-topbar-backimg1 {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.homemain-topbar-left-img
{
    height: 100px;
    width: 400px;
    object-fit: contain;
    margin-bottom: 3px;
}
.homemain-topbar-left-logodiv
{
    position: relative;
    z-index: 1;
}
.homemain-topbar-left-logodiv span
{
    text-align: left !important;
    left: 70px !important;
    color: white;
    font-size: 12px;
    /* margin-top: 130px !important; */
    font-weight: 500;
    position: absolute;
    top:85px
}
.homemain-topbar-right
{
    flex: 1;
    
}
.homemain-bottombar
{
    position: relative;
}
.homemain-bottombar-left
{
    margin-top: 100px !important;
    text-align: left;
}
.homemain-bottombar-left-card
{
    width: 100% !important;
    background-color:transparent!important;
    border-color:transparent !important ;
    padding-left: 30px;
}

.homemain-bottombar-left-cardhead
{
    letter-spacing: 0px;
    font-weight: 700;
    font-family: Montserrat;
    color: rgb(0, 0, 0);
    visibility: inherit;
    transition: none 0s ease 0s;
    text-align: left;
    line-height: 150px;
    border-width: 0px;
    margin: 0px;
    padding: 0px;
    font-size: 150px;
    white-space: nowrap;
    min-height: 0px;
    min-width: 0px;
    max-height: none;
    max-width: none;
    opacity: 1;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform-origin: 50% 50% 0px;
}
.homemain-bottombar-left-cardcont
{
    letter-spacing: 0px;
    font-weight: 400;
    font-family: Muli;
    color: rgba(45, 45, 45, 0.85);
    visibility: inherit;
    transition: none 0s ease 0s;
    text-align: left;
    line-height: 30px;
    border-width: 0px;
    margin: 0px;
    padding: 0px;
    font-size: 20px;
    position: absolute;
    z-index: 2000;
   
}

.homemain-bottombar-left-carddiv
{
    width:600px !important;
    /* padding-left: 50px !important; */
}
.homemain-bottombar-rightimg
{
    margin-top:-850px;
    margin-left: 400px;
    /* position: absolute; */
    height: 1100px;
    width:1100px;
    z-index: 5;
}
.homemain-topbar-right-div
{
    display: flex;
    margin-left: 600px;
    
}
.searchicon-homemain-button
{
    background-color: rgb(250, 19, 96) !important;
    border-color:rgb(250, 19, 96) !important;
    align-items: center;
    justify-content: center;
    width:50px !important;
    height: 50px !important;
    border-radius: 50% !important;
    color: white;
    cursor: pointer !important;
}
.navicon-homemain-button
{
    background-color: rgb(250, 19, 96) !important;
    border-color:rgb(250, 19, 96) !important ;
    width:60px !important;
    height: 60px !important;
    border-radius: 50% !important;
    margin-left: 13px !important;
    color: white;
    font-weight: bold;
    margin-top: -4px !important;
    cursor: pointer !important;
    
}
.navicon-homemain
{
    margin-top: 1px;
    /* font-size: 25%; */
    width: 30px !important;
    height: 30px !important;
    cursor: pointer !important;
}
.searchicon-homemain
{
    margin-top: 1px;
    width: 30px !important;
    height: 30px !important;
    cursor: pointer !important;
}