.webmain
{
    background-color: black;
    max-width: 100%;
    height: 80px;
    color:gray;
    padding-top: 30px;
    overflow-x: hidden; 
    /* margin-bottom: 50px; */
    
}
@media screen and (max-width:350px){
    .webmain{
        padding-bottom: 40px !important;
    }
       
    }

