.navbar-container
{
    display: flex;
    overflow: visible;
    background-color: rgb(235, 231, 233);
    height:auto;
    position: fixed;
  top: -100px;
  left: 0;
  width: 100%;
  z-index: 10000 !important;
  transition: top 0.3s;
  cursor: pointer;
}
.navbar-container {
  transition: transform 0.3s ease-in-out;
}

.navbar-container.show {
  transform: translateY(0);

}

.navbar-container.hide {
  transform: translateY(-100%);
}
.custlink
{
  color:black;
}
.custlink:hover
{
  color:white;
}
.custlinkcontact
{
  color: var(--bs-nav-link-color);
}
.custlinkcontact:hover{
  color:rgb(250, 19, 96);
}
.navbar-container.show {
    top: 0; /* Slide down to top of the viewport */
  }
.navbar-left
{
    flex: 1;
    text-align: left;
    margin-left: 30px;
    position: relative;
}
.navbar-left span
{
    position: absolute;
    font-size: 10px;
    color: rgb(148, 146, 146);
    top:55px;
    left:70px
}
.navimg
{
    height: 100px !important;
    width: 250px !important;
    object-fit: contain !important;
    margin-top: -20px;
    margin-left:50px !important ;
}
.navbar-right
{
    flex: 1;
    color: black !important;
    text-align: right;
}
.navbar-nav
{
    color: black !important;
    margin-left: 250px;
    margin-top: 20px;
    font-size: 1.0625rem;
    font-family: Montserrat;
    font-weight: 600;
    color: #000;
    padding: 0 1.40625rem;
    position: relative;
    padding-left: 10px !important;
    /* line-height: 4.375rem; */
}
@media screen and (max-width:74px){
  .navbar
  {margin-left: 350px !important;
  width: 1300 !important;
  position: fixed !important;
overflow: hidden !important;}
  .navbar-container
  {
    padding-top: 20px !important;
  }

}
@media screen and (max-width:1440px){
  .navbar-container
  {
      width:1440px !important
  }
}
.navbar-nav .show .dropdown-menu {
    display: block;
  }
  .NavDropdown
  {
    border-radius: 0px !important;
    margin-left: 10px;
     
  }
  .NavDropdown .dropdown-menu {
    margin-top: -60; /* Remove default margin */
  }
  
  .NavDropdown .dropdown-menu .nav-link {
    padding: 0.5rem 1rem; /* Adjust padding as needed */
  }
  .NavDropdown:hover{
    color:rgb(250, 19, 96) !important;
  }
  .navbar-expand-lg .navbar-nav .nav-link:hover{
    color:rgb(250, 19, 96) !important;
    text-decoration-color:rgb(250, 19, 96) !important;
    text-decoration: underline !important;
  }
  .nav-dropdown-items {
    display: flex;
    flex-direction: column;
  }
  
  .nav-dropdown-items .navdropdown-item {
    white-space: nowrap; /* Prevent line breaks */
  }
  .NavDropdown:active{
    text-decoration: underline;
    text-decoration-color: rgb(250, 19, 96);
    color: rgb(250, 19, 96) !important;
  }
  /* Show dropdown menu on hover */
  .navbar-nav .NavDropdown:hover .dropdown-menu {
    display: block;
  }
   
  .navdropdown-item:hover
  {
    background-color:rgb(250, 19, 96) !important ;
    cursor: pointer;
    color:white !important
  }
 
  .navbar-nav .dropdown-menu {
    border-radius:0px;
    box-shadow: 1px 1px 2px 2px rgba(161, 157, 157, 0.2) !important;
    z-index: 2000;
    background-color: #fff;
  border: 1px solid #ccc;
  /* padding: 10px; */
  position: absolute; /* Set position to absolute */
  top: 100%; /* Position below the navbar */
  left: 0; /* Align with the left edge of the navbar */
  margin-top: 5px;
  }
  
  

 
  