.footer-main
{
    width: 100%;
    height: 300px;
    background-color: #282828;
}
@media screen and (max-width:1440px){
    .footer-main
    {
        width:1440px !important
    }
}
@media screen and (max-width:420px){
    .footer-main
    {margin-left: -90px !important;
    overflow: hidden !important;}
}
.footerlogo
{
    height: 100px;
    width: 400px;
    object-fit: contain;
    margin-top: 50px;
}
.footericons
{
    color:gray;
    margin: 7px;
    margin-top: 60px;
    cursor: pointer;
}
.footericons:hover
{
    color:rgb(250, 19, 96);
}
 a{
    text-decoration: none !important;
    color:282828 !important;
}