
.blog-main-div
{
    width: 100%;
}
@media screen and (max-width:1440px){
    .blog-main-div
    {
        width:1440px !important
    }
}
@media screen and (min-width:1000px) and (max-width:1200px){
    .blog-main-div
{
    width: 100%;
    text-align: center;
    margin-left: -210px !important;
}
.carousel-item1-frst{
    margin-left: 2% !important;
    width: 950px !important;
  
}
.functionality-main-rightfrst
{
    left: 800px !important;
}
.functionality-main-rightscnd
{
    left: 800px !important;
}
.functionality-main-leftimg
{
    opacity: 0.6;
}

}
@media screen and (min-width:700px) and (max-width:800px){
    .blog-main-div
{
    width: 100%;
    
    text-align: center;
    margin-left: -310px !important;
}

.carousel-item1-left,.carousel-item2-right
{
 
   /* position: absolute; */
   margin-left: 130px !important;
   width: 65% !important;
   padding: 50px !important;
}
.carousel-item1-frst,.carousel-item1-second
{
    
    display: flex;
    width: 100% !important;
    flex-direction: column-reverse!important;
    height:auto !important;
    position: relative !important;
    
}

.carousel-item1-frst-rightimg{
    /* padding-top: -300px !important; */
    padding-left: -100px !important;

}
.functionality-main-rightfrst
{
    left: 650px !important;
}
.functionality-main-rightscnd
{
    left: 650px !important;
}
.functionality-main-leftimg
{
    opacity: 0.5;
}
}
@media screen and (min-width:400px) and (max-width:450px){
    .bloghead-span1
    {
        
            font-size: 3.38rem !important;
        }
    .blog-main-div
{
    
    
    text-align: center;
    margin-left: -510px !important;
}

.carousel-item1-left,.carousel-item2-right
{
 
   /* position: absolute; */
   margin-left: 240px !important;
   width: 48% !important;
   padding: 28px !important;
}
.carousel-item1-frst,.carousel-item1-second
{
    
    display: flex;
    width: 70% !important;
    flex-direction: column-reverse!important;
    height:auto !important;
    position: relative !important;
    
}

.carousel-item1-frst-rightimg{
    /* padding-top: -300px !important; */
    /* padding-left: -100px !important; */
margin-left: -40px !important;
}
.functionality-main-rightfrst
{
    left: 570px !important;
}
.functionality-main-rightscnd
{
    left: 520px !important;
}
.functionality-main-leftimg
{
    opacity: 0.5;
}
}
@media screen and (min-width:350px) and (max-width:400px){
    .bloghead-span1
    {
        
            font-size: 3.38rem !important;
        }
    .blog-main-div
{
    
    
    text-align: center;
    margin-left: -510px !important;
}

.carousel-item1-left,.carousel-item2-right
{
 
   /* position: absolute; */
   margin-left: 250px !important;
   width: 38% !important;
   padding: 23px !important;
}
.carousel-item1-frst,.carousel-item1-second
{
    
    display: flex;
    width: 50% !important;
    flex-direction: column-reverse!important;
    height:auto !important;
    position: relative !important;
    
}

.carousel-item1-frst-rightimg{
   
margin-left: -90px !important;
height: 300px !important;
    width:340px !important ;
}
.functionality-main-rightfrst
{
    left: 550px !important;
}
.functionality-main-rightscnd
{
    left: 510px !important;
    width: 350px !important;
}
.functionality-main-leftimg
{
    opacity: 0.5;
}
}
@media screen and (min-width:300px) and (max-width:350px){
    .bloghead-span1
    {
        
            font-size: 3.18rem !important;
        }
    .blog-main-div
{
    
    
    text-align: center;
    margin-left: -550px !important;
}

.carousel-item1-left,.carousel-item2-right
{
 
   /* position: absolute; */
   margin-left: 280px !important;
   width: 36% !important;
   padding: 13px !important;
}
.carousel-item1-frst,.carousel-item1-second
{
    
    display: flex;
    width: 50% !important;
    flex-direction: column-reverse!important;
    height:auto !important;
    position: relative !important;
    
}

.carousel-item1-frst-rightimg{
   
margin-left: -60px !important;
height: 250px !important;
    width:290px !important ;
}
.functionality-main-rightfrst
{
    left: 590px !important;
    font-size: 2.3rem !important;
}
.functionality-main-rightscnd
{
    left: 560px !important;
    width: 310px !important;
}
.functionality-main-leftimg
{
    opacity: 0.5;
}
}
.bloghead-span1
{
    margin-top: 60px;
    font-size: 4.375rem;
    font-weight: 800;
    letter-spacing: -3.5px;
    position: relative;
}
.bloghead-span2
{
    color: #8b8b8b;
    font-size: 1.0625rem;
    margin-top: -10px !important;
}

.carousel-item1-frst
{
    background-color: rgb(252, 216, 236);
    width:1050px !important;
    height: auto !important;
margin-left: 15% !important;
    margin: 50px;
    display: flex;
    border-radius: 8px;
    box-shadow: 2px 8px 16px rgba(0, 0, 0, 0.1);
    padding-left: 20px;
    padding-top: 30px;
    padding-bottom: 50px !important;
}
.carousel-item1-left
{
    width: 500px ;
    background-color: rgb(252, 205, 213);
    height: 380px;
    border-radius: 10px;
    box-shadow: 2px 8px 16px rgba(225, 177, 177, 0.1);
    margin-top: 20px !important;
    margin-left: 30px ;
    text-align: left;
    padding-top: 30px;
}
.carousel-item1-frst-left-frst
{
    background-color: rgb(243, 172, 195);
    width: 100px;
    padding-left: 10px;
    font-weight: 600;
    margin-top: 20px;
    margin-left: 30px;
}
.carousel-item1-frst-left-second
{
    padding-left: 30px;
    font-size: 2.4rem;
    letter-spacing: -4 !important;
    font-weight: 700;
    padding-top: 10px;
    line-height: 3rem;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
.carousel-item1-frst-left-third
{
    padding-top: 20px;
    padding-left: 30px;
    color: rgb(98, 95, 95);
    padding-right: 10px;
}

.carousel-item1-rigt
{
    /* flex: 1 !important; */
    width: 50%;
    /* background-color: rgb(70, 34, 178); */
}

.carousel-item1-frst-rightimg
{
    height: 350px;
    width:390px ;
    object-fit: cover;
    margin-left: 60px ;
    margin-top: 20px !important;
}
.blog-botton
{
    margin-left: 30px;
    margin-top: 30px;
    border-radius: 5px;
    height: 40px;
    width: 120px;
}
.carousel-item1-second
{
    background-color: rgb(219, 237, 243);
    width:1050px !important;
    height: auto !important;
margin-left: 15% !important;
    margin: 50px;
    padding-bottom: 50px !important;
    display: flex;
    border-radius: 8px;
    box-shadow: 2px 8px 16px rgba(0, 0, 0, 0.1);
    padding-left: 20px;
    padding-top: 30px;
}
.carousel-item2-right
{
    width: 500px ;
    background-color: rgb(185, 236, 233);
    height: 380px;
    border-radius: 10px;
    box-shadow: 2px 8px 16px rgba(225, 177, 177, 0.1);
    margin-top: 20px !important;
    margin-left: 30px ;
    text-align: left;
    padding-top: 30px;
}
.second{
    background-color: rgb(193, 246, 246) !important;
    width: 150px !important;
}
.functionality-main
{
    /* background-image: url('../../assets/images/parallax2.jpg'); */
    height: 500px !important;
    width: 100%;
    object-fit: cover;
    display: flex;
}
.functionality-main
{
    display: flex;
    background-color: rgb(243, 247, 250);
    position: relative;
    height: 600px !important;
}
.functionality-main-leftimg
{
    height:600px;
    width:1100px;
    object-fit: cover;
    position: relative;
    /* margin-left: 30px; */
}
.functionality-main-rightfrst
{
    font-size: 2.8125rem;
    font-weight: 800;
    line-height: 3.25rem;
    letter-spacing: -2.5px;
    margin-bottom: 0.9375rem;
    display: inline-block;
    z-index: 1000;
    position: absolute;
    left:850px;
    top:50px
}
.functionality-main-rightscnd
{
    display: flex;
    z-index: 1000;
    position: absolute;
    left: 900px;
    top:205px;
    width: 400px;
    text-align: left;
}
.functionality-main-rightscnd-img
{
    border-radius: 50%;
    width:90px;
    height: 85px;
    margin-top: 10px;
}
.functionality-main-rightscnd--span1
{
    font-size: 1.5625rem;
    font-weight: bold;
}
.functionality-main-rightscnd--span2
{
    font-size: 1rem;
    color: gray;
    margin-top: 5px !important;
}
