.aboutheadtop
{
    background-color: transparent!important;
    position: absolute;
    z-index: 10000;
    margin-right: 60px;
}
.index-main-bar
{
  width: 100% !important;
}
@media screen and (min-width:1000px) and (max-width:1200px)
{
  .aboutpage
  {
    width: 100% !important;
  }
  .aboutheadtop-img{
    width: 100% !important;
    margin-left: -350px !important;
  }
  .aboutheadtop-imagediv-span{
    left: 29% !important;
  }
  .aboutheadtop-imagediv-bottom
  {
    width: 890px !important;
    left: 7% !important;
  }
  .aboutfewwords-div{
    width: 900px !important;
    margin-left: 8% !important;
  }
  .aboutpage-images-words-img1, .aboutpage-images-words-img2{
    width: 440px !important;
  }
  .ABOUTPAGETR
  {
    font-size: 12PX !important;
  }
  .aboutpageimg
  {
    width: 375px !important;
    margin-left: 25px !important;
    animation: moveTopedToBottom 1s ease-in-out infinite alternate;
    margin-bottom: 90px !important;
  }
  @keyframes moveTopedToBottom {
    0% { margin-top: 40px; } /* Start at the top */
    100% { margin-top: 50px; } /* Move to the bottom */
}
.about-div
{
  /* margin-bottom: 300px !important; */
  margin-bottom: 40px !important;
  height: 600px !important;
  margin-left: 100px !important;
}
.chooseusabout{
  margin-left: 4% !important;
}
  .diglast-div-right-one {
    font-size: 2.7375rem !important;}
    .aboutheadright{
      margin-left: -90px !important;
    }
}
@media screen and (max-width:800px)
{
  .aboutpage
  {
    width: 100% !important;
  }
  .aboutheadtop-img{
    width: 765px !important;
    margin-left: -643px !important;
  }
  .aboutheadtop-imagediv-span{
    left: 18% !important;
    font-size: 3.7rem !important;
  }
  .aboutheadtop-imagediv-bottom
  {
    width: 690px !important;
    left: 5% !important;
  }
  .aboutfewwords-div{
    width: 680px !important;
    margin-left: 6% !important;
  }
  .aboutpage-images-words-img1, .aboutpage-images-words-img2{
    width: 330px !important;
  }
  .ABOUTPAGETR
  {
    font-size: 16PX !important;
    line-height: 1px !important;
  
  }
  .aboutpagehead-points-maincont{
    line-height: 40px !important;
  }
  .aboutpageimg
  {
    width: 275px !important;
    margin-left: 170px !important;
    height: 340px !important;
  }
  .diglast-div-right-one {
    font-size: 2.3375rem !important;}
    .chooseusabouthead
    {
      margin-left: -7% !important;
    }
    .ABOUTPAGETR {
      display: block;
    }
  
    /* Set width to 100% and display as block for each table cell */
    .ABOUTPAGETR td {
      display: block;
      width: 100%;
    }
  
    /* Add spacing between table rows */
    .ABOUTPAGETR td + td {
      margin-top: 10px; /* Adjust as needed */
    }
}
@media screen and (min-width:400px) and (max-width:500px)
{
  .aboutpage
  {
    width: 100% !important;
  }
  .aboutheadtop-img{
    width: 435px !important;
    margin-left: -990px !important;
  }
  .aboutheadtop-imagediv-span{
    left: 9% !important;
    font-size: 3.2rem !important;
  }
  .aboutheadtop-imagediv-bottom
  {
    width: 400px !important;
    left: 3% !important;
  }
  .aboutfewwords-div{
    width: 400px !important;
    margin-left: 3% !important;
  }
  .aboutpage-images-words
  {
    display: flex;
    flex-direction: column-reverse !important;
  }
  .aboutpage-images-words-img1, .aboutpage-images-words-img2{
    width: 390px !important;
    margin-top: 20px !important;
    margin-left: 4px !important;
  }
  .aboutpagehead-points-maindiv
  {
    flex-direction: column-reverse !important;
  }
  
  .ABOUTPAGETR
  {
    font-size: 16PX !important;
    line-height: 1px !important;
    margin-left: 20px !important;
  
  }
  .aboutpagehead-points-maincont{
    line-height: 30px !important;
    width:400px !important;
    margin-left: 4px !important;
  }
  .chooseusabouthead
  {
    flex-direction: column !important;
    /* margin-bottom: 30px !important; */
  }
  
  
  .aboutpageimg
  {
    width: 275px !important;
    margin-top:4% !important;
    margin-left: 60px !important;
    height: 340px !important;
    /* margin-bottom: 30px !important; */
    transform: translateX(-10%); /* Center the image horizontally */
    animation: moveTopedToBottom 1s ease-in-out infinite alternate;
    
}
@keyframes moveTopedToBottom {
  0% { margin-top: 3%; } /* Start at the top */
  100% { margin-top: 4%; } /* Move to the bottom */
}
  .diglast-div-right-one {
    font-size: 2.3375rem !important;}
    .chooseusabouthead
    {
      margin-left: 50px !important;
      padding-bottom: 30px !important;
    }
    .ABOUTPAGETR {
      display: block;
    }
  
    /* Set width to 100% and display as block for each table cell */
    .ABOUTPAGETR td {
      display: block;
      width: 100%;
    }
  
    /* Add spacing between table rows */
    .ABOUTPAGETR td + td {
      margin-top: 10px; /* Adjust as needed */
    }
}
@media screen and (min-width:350px) and (max-width:400px)
{
  .aboutpage
  {
    width: 100% !important;
  }
  .aboutheadtop-img{
    width: 435px !important;
    margin-left: -990px !important;
  }
  .aboutheadtop-imagediv-span{
    left: 8% !important;
    font-size: 3.2rem !important;
  }
  .aboutheadtop-imagediv-bottom
  {
    width: 350px !important;
    left: 3% !important;
  }
  .aboutfewwords-span1
  {
    font-size: 45px !important;
  }
  .aboutfewwords-div{
    width: 350px !important;
    margin-left: 3% !important;
  }
  .aboutpage-images-words
  {
    display: flex;
    flex-direction: column-reverse !important;
  }
  .aboutpage-images-words-img1, .aboutpage-images-words-img2{
    width: 340px !important;
    margin-top: 20px !important;
    margin-left: 4px !important;
  }
  .aboutpagehead-points-maindiv
  {
    flex-direction: column-reverse !important;
  }
  
  .ABOUTPAGETR
  {
    font-size: 16PX !important;
    line-height: 1px !important;
    margin-left: 20px !important;
  
  }
  .aboutpagehead-points-maincont{
    line-height: 30px !important;
    width:340px !important;
    margin-left: 4px !important;
  }
  .chooseusabouthead
  {
    flex-direction: column !important;
    /* margin-bottom: 30px !important; */
  }
  .aboutpageimg
  {
    width: 275px !important;
    margin-top:4% !important;
    margin-left: 60px !important;
    height: 340px !important;
    /* margin-bottom: 30px !important; */
    transform: translateX(-10%); /* Center the image horizontally */
    animation: movedAndRotate 3s linear infinite !important;
    
}

@keyframes movedAndRotate {
    0%, 100% {
    margin-top: 2% !important;
  }
  50% {
    margin-top: 4% !important;
  }
}
  .diglast-div-right-one {
    font-size: 2.3375rem !important;}
    .chooseusabouthead
    {
      margin-left: 50px !important;
      padding-bottom: 30px !important;
    }
    .ABOUTPAGETR {
      display: block;
    }
  
    /* Set width to 100% and display as block for each table cell */
    .ABOUTPAGETR td {
      display: block;
      width: 100%;
    }
  
    /* Add spacing between table rows */
    .ABOUTPAGETR td + td {
      margin-top: 10px; /* Adjust as needed */
    }
}
@media screen and (min-width:300px) and (max-width:350px)
{
  .aboutpage
  {
    width: 100% !important;
  }
  .aboutheadtop-img{
    width: 395px !important;
    margin-left: -1016px !important;
  }
  .aboutheadtop-imagediv-span{
    left: 5% !important;
    font-size: 3.2rem !important;
  }
  .aboutheadtop-imagediv-bottom
  {
    width: 300px !important;
    left: 3% !important;
  }
  .aboutfewwords-span1
  {
    font-size: 45px !important;
  }
  .aboutfewwords-div{
    width: 300px !important;
    margin-left: 3% !important;
  }
  .aboutpage-images-words
  {
    display: flex;
    flex-direction: column-reverse !important;
  }
  .aboutpage-images-words-img1, .aboutpage-images-words-img2{
    width: 290px !important;
    margin-top: 20px !important;
    margin-left: 4px !important;
  }
  .aboutpagehead-points-maindiv
  {
    flex-direction: column-reverse !important;
  }
  
  .ABOUTPAGETR
  {
    font-size: 16PX !important;
    line-height: 1px !important;
    margin-left: 20px !important;
  
  }
  .aboutpagehead-points-maincont{
    line-height: 30px !important;
    width:290px !important;
    margin-left: 4px !important;
  }
  .chooseusabouthead
  {
    flex-direction: column !important;
    /* margin-bottom: 30px !important; */
  }
  .aboutpageimg
  {
    width: 275px !important;
    margin-top:4% !important;
    margin-left: 30px !important;
    height: 340px !important;
    /* margin-bottom: 30px !important; */
    transform: translateX(-10%); /* Center the image horizontally */
    animation: movedAndRotate 3s linear infinite !important;
    
}

@keyframes movedAndRotate {
    0%, 100% {
    margin-top: 2% !important;
  }
  50% {
    margin-top: 4% !important;
  }
}
  .diglast-div-right-one {
    font-size: 2.3375rem !important;}
    .chooseusabouthead
    {
      margin-left: 50px !important;
      padding-bottom: 30px !important;
    }
    .ABOUTPAGETR {
      display: block;
    }
  
    /* Set width to 100% and display as block for each table cell */
    .ABOUTPAGETR td {
      display: block;
      width: 100%;
    }
  
    /* Add spacing between table rows */
    .ABOUTPAGETR td + td {
      margin-top: 10px; /* Adjust as needed */
    }
}
@media screen and (max-width:1440px)
{
    .index-main-bar
    {
        width: 1470PX !important;
        margin-left: -30px;
        overflow: hidden !important;
    }
}

.aboutheadtop-img
{
    width: 1920px;
    height: 655px !important;
    object-fit: cover;
}
.aboutheadtop-imagediv
{
    position: relative;
}
.aboutheadtop-imagediv-span
{
    position: absolute;
    font-weight: bold;
    font-size: 70px;
    top:300px;
    left:44%;
    color: black;
    text-decoration: underline;
}
.aboutheadtop-imagediv-span span{
    color:rgb(250, 19, 96);
}
.aboutheadtop-imagediv-bottom
{
    background-color: white;
    position: absolute;
    width: 1150px;
    height: 80px;
    top:620px;
    z-index: 1000 !important;
    left: 11%;
    text-align: left;
    display: flex;
    box-shadow: 0 30px 25px rgba(33, 176, 223, 0.1);
}

.aboutheadtop-imagediv-bottom-logo
{
    color:rgb(150, 148, 148);
    margin-left: 30px;
    margin-top: 26px;
    
}
.aboutheadtop-imagediv-bottom-span{
    color: rgb(150, 148, 148);
    margin-left: 60px;
    margin-top: 26px !important;
    font-size: 20px;

}
.aboutfewwords-div
{
    width: 1150px;
    height: auto;
    margin-left: 11%;
    /* background-color: rgb(249, 241, 241); */
}
.aboutfewwords
{
    padding-top: 150px;
    text-align: left;
    color: rgb(86, 84, 84);

    /* padding-left: 60px; */
}
.aboutfewwords-span1
{
    font-size: 3.625rem;
    color: black;
    margin-bottom: 10px;
}
.aboutpage-images-words
{
    display: flex;
    margin-top: 50px;
    /* padding-left: 20px; */
}

  
.aboutpage-images-words-img1
{
    width: 560px;
    height: 360px;
    object-fit: cover;
}
.aboutpage-images-words-img2
{
    width: 560px;
    height: 360px;
    object-fit: cover;
    margin-left: 30px;
}
.aboutpagehead-points-maindiv
{
    display: flex;
}
td Link
{
    text-decoration: none !important;
}
.aboutpagehead-points
{
    width: 580px;
    text-align: left;
    margin-top: 40px;
    font-weight: bold;
    font-size: 17px;
    margin-left: -25px;
    cursor: pointer;
    text-decoration: none;
    
}
td:hover{
    color: rgb(250, 19, 96)!important;
}
.aboutpagehead-points-icon
{
    color: rgb(250, 19, 96)!important;
    height: 43px !important;
    width: 43px !important;
}
.aboutpagehead-points-maincont
{
    width: 560px;
    text-align: justify;
    margin-top: 50px;
    margin-left: 40px;
    font-size: 17px;
    line-height: 30px;
    font-family: Muli;
}


  .chooseusmainabout
  {
    width: 100% !important;
    background-color: rgb(205, 171, 171);
    /* color: white; */
    margin-top: 50px;
  }
  .chooseusabout{
    display: flex;
    width: 1150px !important;
    margin-left: 11%;
  
  }
.aboutpageimg
{
  animation: moveTopedToBottom 1s ease-in-out infinite alternate;
 
}
@keyframes moveTopedToBottom {
  0% { margin-top: 30px; } /* Start at the top */
  100% { margin-top: 50px; } /* Move to the bottom */
}
